tgcrypto
asyncio
ffmpeg-python
py-tgcalls==0.8.1rc1
git+https://github.com/pyrogram/pyrogram@master
git+https://github.com/yt-dlp/yt-dlp@master
youtube-search-python
youtube-search
httpx==0.13.3
python-dotenv
aiofiles
aiohttp
requests
psutil
future
wget
