tgcrypto
pyrogram==1.4.16
py-tgcalls

wget
motor
pillow
psutil
asyncio
aiohttp
aiofiles
requests
lyricsgenius
speedtest-cli

yt-dlp
dnspython
gitpython
ffmpeg-python
python-dotenv
youtube-search
youtube-search-python
